@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;

    width: 1440px;
    height: 800px;

    display: flex;
    justify-content: center;

    background-image: url(./assets/images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-size: contain;

    /* background-color: hsl(0, 0%, 98%); */
    background-color: hsl(236, 33%, 92%);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.container {
    /* width: 37.5vw; */
    width: 540px;
    height: auto;
    /* height: 64px; */
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;

    justify-content: space-between;

    margin-top: 76px;
    margin-bottom: 46px;
}

.heading {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 8px;

    color: rgb(255, 255, 255);
}

.color--mode {
    height: 32px;
    width: 32px;

    background: url(./assets/images/icon-moon.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.input--field {
    width: 100%;
    height: 64px;
    background: rgb(255, 255, 255);

    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-bottom: 24px;
}

.input--Main {
    height: 100%;
    width: 80%;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    margin-left: 24px;

    border: none;
    outline: none;
}

::placeholder {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;

    color: hsl(233, 11%, 84%);
}

.div-main {
    width: 100%;
    height: 64px;

    background: rgb(255, 255, 255);
    color: hsl(235, 19%, 35%);

    display: flex;
    align-items: center;
    text-indent: 24px;

    border: none;
    border-top: 1px solid hsl(233, 11%, 84%);
    border-bottom: 1px solid hsl(233, 11%, 84%);
}

.div-main:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.div--tasks {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 0;
    margin: 0;
}

.checkbox--label {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 1px solid hsl(236, 33%, 92%);

    background: 
        url(./assets/images/icon-check.svg),
        linear-gradient(to bottom, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
    
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    background-size: 50%, 100%;
}

.main-button {
    margin-left: 30px;
}

.footer-main {
    height: 50px;
    width: 100%;

    background-color: rgb(255, 255, 255);

    padding: 0 24px 0 24px;

    font-size: 1rem;
    border-top: 1px solid hsl(236, 33%, 92%);

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.status--con {
    display: flex;
    align-items: center;
    justify-content: center;
}

.items--con, 
.clear--con {
    font-size: .9rem;
    color: hsl(236, 9%, 61%);
    font-weight: 400;
}

.footer--last {
    font-size: .9rem;
    margin-top: 50px;
    text-align: center;
    border-radius: 5px;

    color: hsl(236, 9%, 61%);
    font-weight: 400;
}

/* Dark Mode */

.body-background-dark {
    background-color: hsl(235, 21%, 11%);
}

.color--mode-dark {
    background: url(./assets/images/icon-sun.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.input--field-dark {
    background-color: hsl(235, 24%, 19%);
}

.input--Main-dark {
    background-color: hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
}

.div-main-dark {
    background-color: hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);

    border-top: 1px solid hsl(235, 19%, 35%);
    border-bottom: 1px solid hsl(235, 19%, 35%);
}

.footer-main--dark {
    background-color: hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);

    border-top: 1px solid hsl(235, 24%, 19%);
}

.footer--last--dark {
    color: hsl(234, 39%, 85%);
}


/* Colors for light theme */
.all-colors {
    background-color: hsl(0, 0%, 98%);
    background-color: hsl(236, 33%, 92%);
    background-color: hsl(233, 11%, 84%);
    background-color: hsl(236, 9%, 61%);
    background-color: hsl(235, 19%, 35%);
}

/* Colors for dark theme */
.all-colors {
    background-color: hsl(235, 24%, 19%);
    background-color: hsl(234, 39%, 85%);
    background-color: hsl(236, 33%, 92%);
    background-color: hsl(234, 11%, 52%);
    background-color: hsl(233, 14%, 35%);
    background-color: hsl(237, 14%, 26%);
}